.App {
  font-family: "Poppins", "Montserrat", sans-serif;
  margin: 30px auto;
  max-width: 700px;
  color: #3c3549;
}

body {
  background-image: url(backgroundImage/Galaxy.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.projectLink {
  text-decoration: none;
  color: #d7c7e1;
}

small {
  color: #c6c0d2;
}
