button.btn.btn-primary.pull-right {
  border: 2px double #dadde1;
  background-color: #ff8f51;
  left: 1rem;
  text-align: center;
  margin: 1px;
}

.WeatherForm {
  box-shadow: 2px 2px 5px #460540;
  border: 1px solid #dadde1;
  border-radius: 5px;
  padding: 20px 16px 24px 16px;
  background: #e6e3f8;
}

input.form-control {
  display: block;
  color: #212529;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  width: 60%;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
